<h1>Status Update</h1>
<div id="team_runners">
  <%= render :partial => "update_team_runners" %>
</div>

<hr />

<div id="update_support_units">
  <%= render :partial => "update_support_units" %>
</div>

<hr />

<div id="update_blog">
  <%= render :partial => "update_blog" %>
</div>

<hr />

<div id="update_results">
  <%= render :partial => "update_results" %>
</div>

</div> <!-- subforms -->