<h1>Status Update</h1>
<%= render :partial => "update_team_runners" %>
<hr />
<%= render :partial => "update_support_units" %>
<hr />
<%= render :partial => "update_blog" %>
<hr />
<%= render :partial => "update_results" %>
