/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/
body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  margin 0;
  padding: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  color: black;
  width: 500;
}

#header {
	background-color: #EDB157;
	padding-top: 0px;
	padding-bottom: 0px;
	font: small-caps 40px/40px "Times New Roman", serif;
	color #282;
	text-align: center;
}

#header div#title {
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid;
}

#header img {
	padding-top: 5px;
	padding-left: 5px;
	float: left;
}

#columns {
	background: #D4CDFB;
}

#main {
	margin-left: 9em;
	padding-top: 4px;
	padding-left: 2em;
	background: white;
	font-size: 0.9em;
}

#side {
	float:left;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	width: 8em;
	background: #D4CDFB;
}

#side a {
	color: #222;
	font-size: small;
}

#side li {
  list-style-type: none;
}

#twitter {
	float:right;
	padding-top: 0.25em;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	width: 12em;
	background: #D4CDFB;
}

#footer {
	clear: both;
	background-color: #D4CDFB;
	padding-bottom: 1em;
	border-top: 1px solid #333;
	padding-left: 0px;
	text-align: center;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#banner {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   32px;
  font-weight: bold;
  line-height: 42px;
}

#userNav {
	text-align: right;
}

tr:nth-of-type(even) {
  background-color:#ccc;
}
